<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
</head>

<body>
  <ul class="article-list">
    <% for (const article of articles) { %>
      <li class="article-title">
        <a href="/article/<%= article._id %>">
          <%= article.title %>
        </a>
      </li>
    <% } %>
  </ul>
  <p>title</p>
  <input type="text" class="input-title" />
  <br>
  <p>content</p>
  <textarea class="input-content"></textarea>
  <button class="send-button">送信</button>
  <script src="/static/index.js" defer></script>
</body>

</html>